html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: rgb(255, 255, 255);
}

body::-webkit-scrollbar-track{
  background: #b4b4b4;
}

body::-webkit-scrollbar{
  width: 0.5rem;
}

body::-webkit-scrollbar-thumb{
  background: rgb(94, 94, 94);
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover{
  background: rgb(48, 48, 48);
}

.header {
  margin: 0 auto;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  display: block;
  width: 95px;
  height: 33px;
  margin: 0.5%;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-right: 70px;
  margin-top: 15px;
  font-size: 100%;
}

nav a{
  color: black;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease;
}

nav a:visited{
  color: black;
}

nav a:hover {
  transform: scale(2);
  color: rgb(255, 255, 255);
}

nav a::after {
  transition: 0.3s ease;
  content: '';
  display: block;
  height: 5px;
  width: 0;
  background-color: white;
}

nav a:hover::after {
  width: 100%;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #35899d;
  margin: 0 auto;
  color: rgb(0, 0, 0);
  font-family: "Lato", sans-serif;
  position: fixed;
  z-index: 1;
  height: 53px;
  width: 100%;
  transition: top 0.3s ease;
  top: -53px;
}
.parallax {
  /* The image used */
  background-image: url("../images/space.png");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-header {
  color: rgb(255, 255, 255);
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: x-large;
  letter-spacing: 4px;
  padding: 34vh 0;
}

.learn-more-button {
  margin-top: 50px;
  font-family: "Lato", sans-serif;
  font-size: large;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 10px;
  letter-spacing: 2px;
  transition: background-color 0.5s ease;
}

.learn-more-button:hover {
  background-color: #334a51;
  cursor: pointer;
}

.learn-more-button:hover .arrow {
  transform: rotate(45deg);
}

.arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(-45deg);
  transition: transform 0.5s ease;
}

.content {
  background-color: rgb(255, 255, 255);
}

.about-details {
  font-family: "Lato", sans-serif;
}

.about-me {
  background-color: #35899d;
  padding: 20px 20%;
  text-align: center;
}
.about-me .about-me-heading {
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0;
  padding: 10px 0;
  font-size: 55px;
  font-weight: 400;
}

.about-me .about-me-content {
  line-height: 30px;
  font-size: x-large;
  font-weight: 300;
}

.education {
  background-color: #e0edf1;
  padding: 0 20%;
}

.education .education-heading {
  padding: 20px 0;
}

.education .education-heading > h2 {
  margin: 0;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 55px;
  font-weight: 400;
  text-align: center;
}

.education-content {
  padding: 10px 0;
  line-height: 25px;
  font-size: larger;
}

.education-content > span {
  margin: 0;
  text-align: left;
}

.education-content > .left {
  margin: 0;
  text-align: left;
  font-weight: 700;
}

.education-content > .right {
  margin: 0;
  float: right;
  font-weight: 300;
}

.education-description {
  margin-left: 200px;
  text-align: left;
  display: inline-block;
  min-height: 180px;
  font-size: larger;
  font-weight: 300;
  line-height: 30px;
}

.education-description > b{
  font-size: x-large;
  font-weight: 500;
}

.guelph-logo {
  display: inline-block;
  position: absolute;
  vertical-align: top;
  border-radius: 50%;
  background-size: cover;
  margin: 10px 0 10px 0;
  width: 175px;
  height: 175px;
  object-fit: cover;
  transition: 0.5s ease;
}

.guelph-logo:hover {
  opacity: 0.5;
  filter: grayscale();
}

.skills{
  background-color: #e0edf1;
  padding: 0 10%;
}

.skills-heading > h2{
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0;
  padding: 20px 0;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}

.skills-content{
  display: flex;
}

.skills-content > div > h2{
  text-transform: uppercase;
  letter-spacing: 10px;
  width: 100%;
  flex: 0 0 100%;
}

.int-skills{
  display: flex;
  flex-direction: row;
  width: 50%;
  text-align: center;
  flex-wrap: wrap;
  align-content: flex-start;
}

.int-skills .language-section{
  flex: 0 0 50%;
}

.int-skills .lang-image{
  width: 95px;
  height: 105px;
  object-fit: fill;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
}

.begin-skills{
  display: flex;
  flex-direction: row;
  width: 50%;
  text-align: center;
  flex-wrap: wrap;
  align-content: flex-start;
}

.begin-skills .language-section{
  flex: 0 0 50%;
}

.begin-skills .lang-image{
  width: 95px;
  height: 105px;
  object-fit: fill;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
}

.begin-skills .css-image{
  width: 90px;
}

.top-projects {
  background-color: #002435;
  padding: 0 20%;
  text-align: center;
  font-family: "Lato", sans-serif;
  color: rgb(255, 255, 255);
  border-top: solid black 5px;
}

.projects-heading {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 55px;
  font-weight: 400;
  margin: 0;
  padding: 30px 0;
  color: white;
}

.top-projects-selectors {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-selector {
  position: relative;
  flex: 0 0 32%;
  text-align: center;
}

.project-image {
  border-radius: 20px;
  border: solid white 4px;
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: left;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.project-middle {
  opacity: 0;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease;
  text-align: center;
  padding: 5px;
  font-size: larger;
  font-weight: bolder;
}

.project-selector:hover .project-image {
  opacity: 0.3;
  object-position: right;
}

.project-selector:hover .project-middle {
  opacity: 1;
}

.project-more-info {
  display: flex;
  padding: 15px 0;
  flex-direction: column;

}

.dropdown-row{
  display: flex;
  width: 100%;
  flex: 1;
  justify-content: space-between;
}

.drop-btn-design{
  width: 32%;
  text-align: center;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: 0;
  padding: 10px;
  transition: 0.3s ease;
}

.bottom-arrow{
  border: solid rgb(255, 255, 255);
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 10px;
  transform: rotate(45deg);
  transition: transform 0.5s ease;
}

@keyframes downArrow{
  from {transform: translateY(0);}
  to {transform: translateY(5px)}
}

.pong-info-btn:hover {
  cursor: pointer;
  animation: downArrow 0.5s alternate infinite;
}

.data-info-btn:hover {
  cursor: pointer;
  animation: downArrow 0.5s alternate infinite;
}

.fight-info-btn:hover {
  cursor: pointer;
  animation: downArrow 0.5s alternate infinite;
}

.portfolio-info-btn:hover {
  cursor: pointer;
  animation: downArrow 0.5s alternate infinite;
}

.drop-content{
  text-align: left;
  z-index: -2;
  font-size: medium;
  overflow: auto;
  position: relative;
  width: 30%;
  height: 0px;
  transition: 0.5s ease;
}

.drop-content a, a:visited{
  color: rgb(121, 121, 121);
}

.drop-content::-webkit-scrollbar{
  width: 0;
}

.contact-me{
  padding: 100px 20%;
  font-family: "Lato", sans-serif;
  text-align: center;
  background-color: #35899d;
  border-top: solid black 5px;
}

.contact-me h2{
  margin: 0 20%;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: white;
}

.contact-me h2::after{
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  background-color: #334a51;
}

.contact-me p{
  font-size: large;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: white;
}

.contact-form{
  padding: 0 20%;
  line-height: 2;
  text-align: left;
}

.contact-me label{
  text-transform: uppercase;
  font-size: larger;
  letter-spacing: 2px;
  color: white;
}

.name-input, .email-input{
  padding: 5px;
  width: 100%;
  background-color: #e0edf1;
  border: solid #334a51;
}

.message-input{
  padding: 5px;
  width: 100%;
  height: 100px;
  background-color: #e0edf1;
  border: solid #334a51;
}

input[type=submit]{
  font-family: "Lato", sans-serif;
  font-size: larger;
  background-color: #296a7a;
  border: solid #334a51;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s ease;
}

input[type=submit]:hover{
  background-color: #334a51;
}

.footer {
  padding: 50px 0;
  width: 100%;
  background-color: #09191f;
  color: rgb(170, 170, 170);
  font-family: "Lato", sans-serif;
  font-size: medium;
  text-align: center;
  line-height: 30px;
}

.footer ul{
  margin: 0 40%;
  padding: 2rem 0 1.5rem 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.footer > ul > li > a{
  color: rgb(94, 94, 94);
  text-decoration: none;
  transition: 0.2s ease;
}

.footer > ul > li > a:visited{
  color: rgb(94, 94, 94);
  text-decoration: none;
}

.footer > ul > li > a:hover, a:focus{
  text-decoration: none;
  opacity: 0.5;
}

@media (max-width: 905px){
  * {
    font-size: 1rem;
  }

  .navigation{
    justify-content: space-around;
  }

  nav li{
    margin: 15px 10px;
  }

  .navigation-links > ul > li > a{
    font-size: 2vw;
  }

  .logo{
    display: none;
  }

  .home-header{
    padding: 34vh 5vw;
  }
  .about-me{
    padding: 20px 10%;
  }

  .about-me .about-me-heading{
    font-size: 1.7rem;
  }

  .about-me .about-me-content{
    font-size: 1rem;
  }

  .education{
    padding: 20px 10%;
  }

  .education .education-heading > h2{
    font-size: 1.7rem;
  }

  .left{
    font-size: 0.8rem;
  }

  .right{
    font-size: 0.8rem;
  }

  .guelph-logo{
    width: 30%;
    height: 10%;
    margin: 0 35%;
    position: static;
    border-radius: 10px;
    border: solid black 1px;
  }

  .education-description > b{
    font-size: 1.3rem;
  }

  .education-description{
    display: block;
    font-size: 1rem;
    margin: 0;
    padding: 10% 0;
  }

  .skills{
    padding: 20px 5%;
  }

  .skills-content{
    flex-direction: column;
    align-items: center;
  }

  .skills-heading > h2{
    font-size: 1.7rem;
  }

  .skills-content > div > h2{
    font-size: 1rem;
    letter-spacing: 5px;
  }

  .int-skills, .begin-skills{
    width: 100%;
  }

  .begin-skills .lang-image{
    width: 45px;
    height: 55px;
    justify-content: space-between;
  }

  .int-skills .lang-image{
    width: 45px;
    height: 55px;
  }

  .skills-content > div > div > p{
    display: none;
  }

  .projects-heading{
    font-size: 1.7rem;
  }

  .top-projects-selectors{
    flex-direction: column;
  }

  .project-image{
    height: 300px;
  }

  .project-selector{
    padding: 10px 0;
  }

  .project-more-info{
    display: none;
  }

  .contact-me{
    padding: 20px 5%;
  }

  .contact-me h2{
    font-size: 1.7rem;
  }


}